@use "sass:map";

/*----------- Colors ----------- */

// Primary colors
$color-dark-blue: (
  "opaque": hsl(233, 26%, 24%),
  "semi-transparent": hsla(233, 26%, 24%, 0.7),
);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);

// Neutral colors
$color-grayish-blue: hsl(233, 8%, 62%);
$color-light-grayish-blue: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

// Brand colors
$color-brand-primary: $color-lime-green;
$color-brand-secondary: $color-bright-cyan;
$color-brand-tertiary: map.get($color-dark-blue, "opaque");

// Typography colors
$color-body-text: $color-grayish-blue;
$color-body-text-alternative: $color-grayish-blue;

/*----------- Typography ----------- */

$base-font-size: 1.8rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/*----------- Spacing and UI ----------- */

$base-spacing: 2rem;
$section-margin-bottom: $base-spacing * 7.5;
$section-subtitle-max-width: 60ch;
$major-container-max-width: (
  "lg-down": 80rem,
  "lg-up": 103.5rem,
);
$card-max-width: (
  "lg-down": 33.5rem,
  "lg-up": 24.5rem,
);
$cards-col-spacing: 30px;
$base-border-radius: 6px;
$fluid-footer-col-gap: clamp(#{$base-spacing * 3}, 8.5vw, #{$base-spacing * 6});

/*----------- Breakpoints ----------- */
// In px
$bp-md: 850;
$bp-lg: 1200;

/*----------- Miscellaneous ----------- */

$base-transition-duration: 0.2s;

$nav-menu-container-gradient: linear-gradient(
  to bottom,
  map.get($color-dark-blue, "semi-transparent"),
  transparent
);

$primary-gradient: linear-gradient(
  to right,
  $color-brand-primary,
  $color-brand-secondary
);
