*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-light-cyan: hsl(179, 62%, 48%);
  --color-bright-yellow: hsl(71, 73%, 54%);
  --color-bright-yellow-2: hsl(71, 73%, 48%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);

  --base-spacing: 2.5rem;
  --base-font-size: 1.6rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: var(--base-font-size);
  font-family: "Karla", sans-serif;
}

main {
  padding: var(--base-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: var(--base-spacing);
  line-height: 1.6;
}

footer a {
  text-decoration: none;
  color: var(--color-cyan);
}

.card {
  background-color: var(--color-light-gray);
  border-radius: 4px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card__intro {
  padding: var(--base-spacing);
}

.card__main-title {
  font-size: 2.2rem;
  color: var(--color-cyan);
  margin-bottom: calc(var(--base-spacing) * 0.8);
}

.card__subtitle {
  margin-bottom: calc(var(--base-spacing) * 0.65);
  color: var(--color-bright-yellow);
  font-weight: bold;
}

.card__description {
  color: var(--color-grayish-blue);
  line-height: 1.6;
}

.card__section {
  color: var(--color-light-gray);
  padding: var(--base-spacing);
}

.card__section-title {
  margin-bottom: calc(var(--base-spacing) * 0.8);
}

.card__section--subscription {
  background-color: var(--color-cyan);
}

.card__subscription-price {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.card__subscription-price > :first-child {
  margin-right: 1rem;
  font-weight: bold;
  font-size: 3.1rem;
}

.card__subscription-price > :last-child {
  opacity: 0.5;
}

.card__subscription-details {
  margin-bottom: calc(var(--base-spacing) * 1.1);
  opacity: 0.9;
}

.card__button {
  width: 100%;
  background-color: var(--color-bright-yellow);
  padding: 1.5rem;
  border: none;
  color: var(--color-light-gray);
  font-size: var(--base-font-size);
  font-weight: bold;
  font-family: "Karla", sans-serif;
  border-radius: 4px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s;
}

.card__section--benefits {
  background-color: var(--color-light-cyan);
}

.card__benefits {
  list-style: none;
  color: var(--color-light-gray);
  opacity: 0.8;
}

.card__benefit:not(:last-child) {
  margin-bottom: 4px;
}

/* Media queries */

@media only screen and (hover: hover) and (pointer: fine) {
  .card__button:hover {
    background-color: var(--color-bright-yellow-2);
  }
}

/* Utilities */

.visually-hidden {
  position: absolute;
  left: -1000rem;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
