@use "../abstracts/variables";
@use "../abstracts/mixins";

.footer {
  background-color: variables.$color-brand-tertiary;
  padding: variables.$base-spacing * 2 0;
  margin-top: variables.$base-spacing * 7.5;

  &__content {
    display: grid;
    justify-items: center;
    row-gap: variables.$base-spacing * 1.4;
    text-align: center;
  }

  .logo {
    display: inline-block;
    margin-bottom: clamp(
      #{variables.$base-spacing * 1.5},
      3.5vw,
      #{variables.$base-spacing * 2.4}
    );
  }

  &__nav-list {
    display: grid;
    row-gap: variables.$base-spacing * 0.7;
  }

  .button {
    margin-bottom: variables.$base-spacing * 1.35;
  }
}

// Media queries
@include mixins.respond-min(variables.$bp-md) {
  .footer {
    margin-top: variables.$base-spacing * 3;
    &__content {
      grid-template-columns: max-content 1fr max-content;
      column-gap: variables.$fluid-footer-col-gap;
      justify-items: start;
      text-align: left;
    }

    &__nav-list {
      grid-template-rows: repeat(3, auto);
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      column-gap: variables.$fluid-footer-col-gap;
    }

    &__cta-and-copyright {
      text-align: right;
    }
  }
}
