@use "../abstracts/variables";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: variables.$base-spacing * 1.1;
  background-color: variables.$color-white;
}

.primary-nav {
  &__hamburger-btn {
    display: flex;
    border: none;
  }

  &__list-container {
    --header-height: 6.8rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding: variables.$base-spacing;
    background-image: variables.$nav-menu-container-gradient;
  }

  &__list {
    padding: variables.$base-spacing * 1.6;
    text-align: center;
    border-radius: variables.$base-border-radius;
    background-color: variables.$color-white;
  }

  &__link {
    color: variables.$color-brand-tertiary;
  }

  &__item:not(:last-child) {
    margin-bottom: variables.$base-spacing * 1.5;
  }
}
