@use "../abstracts/variables";
@use "../abstracts/mixins";

.header {
  --header-height: clamp(6.5rem, 6vw, 7.5rem);
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: variables.$color-white;
  z-index: 10;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    display: none;
  }
}

.primary-nav {
  &__hamburger-btn {
    display: flex;
    border: none;
  }

  &__list-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding: variables.$base-spacing;
    background-image: variables.$nav-menu-container-gradient;
  }

  &__list {
    padding: variables.$base-spacing * 1.6;
    text-align: center;
    border-radius: variables.$base-border-radius;
    background-color: variables.$color-white;
  }

  &__link {
    color: variables.$color-brand-tertiary;
  }

  &__item:not(:last-child) {
    margin-bottom: variables.$base-spacing * 1.5;
  }
}

// Media queries

@include mixins.respond-min(variables.$bp-md) {
  .header {
    .button {
      display: inline-block;
    }
  }
  .primary-nav {
    &__hamburger-btn {
      display: none;
    }

    &__list-container {
      all: unset;
      display: block;
    }

    &__list {
      all: unset;
      list-style: none;
      display: flex;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-right: variables.$base-spacing * 1.5;
      margin-bottom: 0;
    }

    &__link {
      color: variables.$color-body-text;
      font-size: variables.$base-font-size * 0.8;
    }
  }
}
