@use "../abstracts/variables";

.article-preview {
  border-radius: variables.$base-border-radius;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
    height: 20.5rem;
  }

  &__text-content {
    padding: variables.$base-spacing * 1.6;
  }

  &__title {
    margin: variables.$base-spacing * 0.4 0;
  }
}
