@use "../abstracts/variables";
@use "../abstracts/mixins";

.button {
  border: none;
  padding: 1.3rem 3.2rem;
  border-radius: 10rem;

  &--primary {
    background-image: variables.$primary-gradient;
  }
}

// Media queries

@include mixins.detect-hover-support {
  .button--primary {
    cursor: pointer;
    transition: filter variables.$base-transition-duration;

    &:hover {
      filter: brightness(120%) saturate(0.6);
    }
  }
}
