@use "../abstracts/variables";

// Common styles
.hero,
.benefits {
  margin-bottom: variables.$section-margin-bottom;
}

// Hero section

.hero {
  padding: 0 variables.$base-spacing;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &__image {
    width: 100%;
    margin-top: -5rem;
    margin-bottom: variables.$base-spacing * 1.25;
  }

  &__text-content {
    text-align: center;
  }

  &__subtitle {
    margin: variables.$base-spacing 0 variables.$base-spacing * 1.74 0;
  }
}

// Benefits section

.benefits {
  padding: 0 variables.$base-spacing;
  text-align: center;

  &__subtitle {
    margin: variables.$base-spacing 0 variables.$base-spacing * 3 0;
  }
}
