@use "sass:map";
@use "../abstracts/variables";
@use "../abstracts/mixins";

// Common styles
.hero,
.benefits {
  margin-bottom: variables.$section-margin-bottom;
}

// Hero section

.hero {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &__image {
    display: block;
    padding: 0 variables.$base-spacing * 0.8;
    width: 100%;
    margin-top: -6rem;
    margin-bottom: variables.$base-spacing * 1.2;
  }

  &__text-content {
    padding: 0 variables.$base-spacing;
    text-align: center;
  }

  &__subtitle {
    margin: variables.$base-spacing auto variables.$base-spacing * 1.74 auto;
    max-width: variables.$section-subtitle-max-width;
  }
}

// Benefits section

.benefits {
  text-align: center;

  &__list {
    display: grid;
    @include mixins.card-responsive-grid;
    justify-content: center;
    row-gap: variables.$base-spacing * 1.8;
    column-gap: variables.$cards-col-spacing;
  }

  &__subtitle {
    margin: variables.$base-spacing auto
      clamp(
        #{variables.$base-spacing * 3},
        5vw,
        #{variables.$base-spacing * 3.5}
      )
      auto;
    max-width: variables.$section-subtitle-max-width;
  }
}

// Articles section

.articles {
  &__list {
    display: grid;
    @include mixins.card-responsive-grid;
    justify-content: center;
    gap: variables.$cards-col-spacing;
  }

  &__title {
    text-align: center;
    margin-bottom: variables.$base-spacing * 1.7;
  }
}

// Media queries

@include mixins.respond-min(variables.$bp-md) {
  .hero {
    background-size: cover;
    background-position: top -18rem left 0;
  }
  .hero__image {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include mixins.respond-min(variables.$bp-lg) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: -9.5rem;
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: contain;
    background-position: top -14rem left 45rem;
    overflow: hidden;

    &__image,
    &__text-content {
      padding: unset;
    }

    &__image {
      width: clamp(63rem, 54vw, 74rem);
      margin: unset;
      transform: translateX(13rem) translateY(-4.3rem);
    }

    &__text-content {
      margin: -#{variables.$base-spacing * 6} variables.$base-spacing * 2.5 0 0;
      text-align: left;
    }
  }
  .benefits {
    text-align: left;

    &__subtitle {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .articles__title {
    text-align: left;
  }

  .benefits__list,
  .articles__list {
    justify-content: start;
    @include mixins.card-responsive-grid(variables.$bp-lg);
  }
}
