@use "sass:map";
@use "../abstracts/variables";
@use "../abstracts/mixins";

// Common styles
.hero,
.benefits {
  margin-bottom: variables.$section-margin-bottom;
}

// Hero section

.hero {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &__image {
    width: 100%;
    margin-top: -5rem;
    margin-bottom: variables.$base-spacing * 1.25;
  }

  &__text-content {
    text-align: center;
  }

  &__subtitle {
    margin: variables.$base-spacing auto variables.$base-spacing * 1.74 auto;
    max-width: variables.$section-subtitle-max-width;
  }
}

// Benefits section

.benefits {
  text-align: center;

  &__list {
    display: grid;
    @include mixins.card-responsive-grid;
    justify-content: center;
    row-gap: variables.$base-spacing * 1.8;
    column-gap: variables.$cards-col-spacing;
  }

  &__subtitle {
    margin: variables.$base-spacing auto variables.$base-spacing * 3 auto;
    max-width: variables.$section-subtitle-max-width;
  }
}

// Articles section

.articles {
  &__list {
    display: grid;
    @include mixins.card-responsive-grid;
    justify-content: center;
    gap: variables.$cards-col-spacing;
  }

  &__title {
    text-align: center;
    margin-bottom: variables.$base-spacing * 1.7;
  }
}

// Media queries

@include mixins.respond-min(variables.$bp-lg) {
  .benefits {
    text-align: left;

    &__subtitle {
      margin: variables.$base-spacing 0 variables.$base-spacing * 3 0;
    }
  }

  .articles__title {
    text-align: left;
  }

  .benefits__list,
  .articles__list {
    justify-content: start;
    @include mixins.card-responsive-grid(variables.$bp-lg);
  }
}
