@use "../abstracts/variables";

button {
  font-family: "Public Sans", sans-serif;
  font-size: variables.$base-font-size * 0.75;
  color: variables.$color-white;
  letter-spacing: 0.5px;
}

.heading {
  color: variables.$color-brand-tertiary;
  font-weight: variables.$font-weight-regular;

  &--1 {
    font-size: variables.$base-font-size * 2.1;
  }

  &--2 {
    font-size: variables.$base-font-size * 1.73;
  }

  &--3 {
    font-size: variables.$base-font-size * 1.06;
  }

  &--4 {
    font-size: variables.$base-font-size * 0.87;
  }
}

.body-text {
  color: variables.$color-body-text;

  &--1 {
    line-height: 1.6;
    font-size: variables.$base-font-size * 0.8;
  }

  &--2 {
    line-height: 1.45;
    font-size: variables.$base-font-size * 0.7;
  }

  &--3 {
    font-size: variables.$base-font-size * 0.56;
  }
}
