@use "../abstracts/variables";
@use "../abstracts/mixins";

button {
  font-family: "Public Sans", sans-serif;
  font-size: variables.$base-font-size * 0.75;
  color: variables.$color-white;
  letter-spacing: 0.5px;
}
// Common styles

.hero__title,
.benefits__title,
.benefit__title,
.articles__title,
.article-preview__title {
  color: variables.$color-brand-tertiary;
  font-weight: variables.$font-weight-regular;
}

.benefits__title,
.articles__title {
  font-size: clamp(
    #{variables.$base-font-size * 1.73},
    4vw,
    #{variables.$base-font-size * 2}
  );
}

.hero__subtitle,
.benefits__subtitle,
.benefit__description,
.article-preview__author,
.article-preview__description,
.footer__copyright {
  color: variables.$color-body-text;
}

.hero__subtitle,
.benefits__subtitle {
  line-height: 1.6;
  font-size: clamp(
    #{variables.$base-font-size * 0.8},
    4vw,
    #{variables.$base-font-size * 0.95}
  );
}

// Hero section

.hero {
  &__title {
    font-size: clamp(
      #{variables.$base-font-size * 2.1},
      3.7vw,
      #{variables.$base-font-size * 2.9}
    );
  }
}

// Benefits section

.benefit {
  &__title {
    font-size: variables.$base-font-size * 1.06;
    font-size: clamp(
      #{variables.$base-font-size * 1.06},
      4vw,
      #{variables.$base-font-size * 1.25}
    );
  }

  &__description {
    line-height: 1.6;
    font-size: clamp(
      #{variables.$base-font-size * 0.8},
      4vw,
      #{variables.$base-font-size * 0.85}
    );
  }
}

// Articles section

.article-preview {
  &__author {
    font-size: variables.$base-font-size * 0.56;
  }

  &__title {
    font-size: variables.$base-font-size * 0.87;

    & > a {
      color: inherit;
      font-size: inherit;
    }
  }

  &__description {
    line-height: 1.45;
    font-size: variables.$base-font-size * 0.7;
  }
}

// Footer

.footer {
  &__nav-link {
    color: variables.$color-light-grayish-blue;
    font-size: variables.$base-font-size * 0.8;
  }

  &__copyright {
    font-size: variables.$base-font-size * 0.8;
  }
}

// Media queries

@include mixins.detect-hover-support {
  .footer__nav-link {
    transition: color variables.$base-transition-duration;

    &:hover {
      color: variables.$color-brand-primary;
    }
  }
}
