*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-violet: hsl(257, 40%, 49%);
  --color-soft-magenta: hsl(300, 69%, 71%);

  --base-spacing: 3rem;
  --spacing-2x: calc(var(--base-spacing) * 2);
  --fluid-spacing: clamp(
    var(--base-spacing),
    4vw,
    calc(var(--base-spacing) * 1.8)
  );

  --color-transition-duration: 0.3s;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--color-violet);
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Open Sans", "Poppins", sans-serif;
  font-size: 1.7rem;
  color: var(--color-white);
}

p {
  line-height: 1.6;
}

a {
  display: inline-block;
  text-decoration: none;
}

header {
  padding: var(--fluid-spacing);
}

main {
  padding: calc(var(--base-spacing) * 0.67) var(--fluid-spacing)
    var(--base-spacing) var(--fluid-spacing);
}

footer {
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  color: var(--color-soft-magenta);
}

.logo svg {
  width: clamp(14rem, 20vw, 18rem);
}

.hero {
  display: grid;
  row-gap: var(--spacing-2x);
  min-height: 70vh;
}

.hero__illustration {
  width: 100%;
}

.hero__text-content {
  text-align: center;
}

.hero__title {
  font-family: "Poppins";
}

.hero__subtitle {
  max-width: 50ch;
  font-size: 1.6rem;
  margin: calc(var(--base-spacing) / 2) auto var(--base-spacing) auto;
  opacity: 0.85;
}

.hero__button {
  padding: 1rem 8rem 1.2rem 8rem;
  background-color: var(--color-white);
  color: var(--color-violet);
  border-radius: 3rem;
  box-shadow: 0 4px 1rem rgba(0, 0, 0, 0.3);
  transition: background-color var(--color-transition-duration),
    color var(--color-transition-duration);
}

.hero__social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
}

.hero__social-icon:not(:last-child) {
  margin-right: 1rem;
}

.hero__social-icon-link {
  padding: 7px;
  border: 1px solid var(--color-white);
  /* to get rid of extra space below that is caused by default line height */
  line-height: 0;
  border-radius: 50%;
  transition: border-color var(--color-transition-duration);
}

.hero__social-icon-link svg {
  width: 1.6rem;
  height: auto;
  fill: var(--color-white);
  transition: fill var(--color-transition-duration);
}

/* Media queries */

/* 62.5em = 1000px */
@media only screen and (min-width: 62.5em) {
  html {
    font-size: 70%;
  }
  body {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }

  .hero {
    grid-template-columns: 1.3fr 1fr;
    column-gap: calc(var(--base-spacing) * 1.33);
  }

  .hero__title {
    font-size: 3.4rem;
    max-width: 18ch;
  }

  .hero__text-content {
    margin-top: calc(var(--base-spacing) * 1.33);
    text-align: left;
  }

  .hero__subtitle {
    margin: calc(var(--base-spacing) / 2) 0 var(--base-spacing) 0;
  }

  .hero__social-icons {
    justify-content: flex-end;
    align-self: end;
    grid-column: 1/-1;
  }

  .hero__button {
    padding: 1rem 5rem 1.2rem 5rem;
  }
}

/* Media query for detecting primary input mechanism that supports hover state */

@media only screen and (hover: hover) and (pointer: fine) {
  .hero__button:hover {
    background-color: var(--color-soft-magenta);
    color: var(--color-white);
  }

  .hero__social-icon-link:hover {
    border-color: var(--color-soft-magenta);
  }

  .hero__social-icon-link:hover svg {
    fill: var(--color-soft-magenta);
  }
}
